*{
	margin:0;
	padding:0;
	text-decoration:none;
	font-size:12px;
	color:#6c6c6c;
	list-style:none;
}
.page .header{
	height:44px;
	padding:22px 0;
	width:100%;
}
.page .header .logo_wrap{
	width:1200px;
	height:44px;
	margin:0 auto;
}
.page .header .logo_wrap .logo{
	width:110px;
	height:44px;
	background:url("../images/taobao-logo.png") no-repeat;
	background-size:100% 100%;
}
.page .content{
	background:url("../images/logo_bg.jpg") no-repeat;
	background-position:center center;
	width:100%;
	height:600px;
}
.page .content .content_layout{
	width:1200px;
	height:600px;
	margin:0 auto;
	position:relative;
}
.page .content .content_layout .logo_box_wrap{
	position:absolute;
	width:350px;
	top:120px;
	right:60px;
}
.page .content .content_layout .logo_box{
	width:300px;
	padding:25px 25px 23px 25px;
	    background-color: rgba(255,255,255,.9);
}
.page .content .content_layout .logo_box .logo_title{
	height:18px;
	line-height:18px;
	font-size:16px;
	font-weight:700;
	color:#3c3c3c;
	padding-bottom:8px;
	margin-top:9px;
}
.page .content .content_layout .logo_box form .username,
.page .content .content_layout .logo_box form .password{
	margin-top:20px;
	position:relative;
}
.page .content .content_layout .logo_box form label{
	position:absolute;
	top:1px;
	left:1px;
	display:block;
	width:40px;
	height:40px;
}
.page .content .content_layout .logo_box .username label{
	background:url("../images/user_img.png") no-repeat;
	background-size:100% 100%;
}
.page .content .content_layout .logo_box .password label{
	background:url("../images/lock_img.png") no-repeat;
	background-size:100% 100%;
}
.page .content .content_layout .logo_box form input[type="text"],
.page .content .content_layout .logo_box form span input[type="password"]{
	width:240px;
	height:18px;
	line-height:18px;
	border:1px solid #ddd;
	padding:11px 8px 11px 50px;
	font-size:14px;
}
.page .content .content_layout .logo_box .username span{
	height:42px;
	line-height:42px;
	display:block;
	color:#999;
	position:absolute;
	left:50px;
	top:0;
	font-size:14px;
	transition: all .1s ease-out;
  -webkit-transition: all .1s ease-in;
  opacity:1;
}
.page .content .content_layout .logo_box form .error{
	position:absolute;
	top:35px;
	width:278px;
	height:32px;
	line-height:32px;
	background:#fef2f2;
	padding:6px 10px;
	color:#6c6c6c;
	border:1px solid #ffb4a8;
	display:none;
}
.page .content .content_layout .logo_box form .error i{
	display:block;
	width:22px;
	height:19px;
	margin-top:5px;
	background:url("../images/error.png") no-repeat;
	background-size:100% 100%;
	float:left;
}
.page .content .content_layout .logo_box form .error p{
	float:left;
	padding-left:10px;
}
.page .content .content_layout .logo_box form .submit-wrap{
	margin-top:20px;
}
.page .content .content_layout .logo_box form button{
	width:300px;
	height:42px;
	line-height:42px;
	color:#fff;
	background:#f40;
	border:0;
	overflow:hidden;
	text-align:center;
	font-size:16px;
	display:inline-block;
	font-weight:700;
	vertical-align:middle;
	cursor:pointer;
}
.page .content .content_layout .logo_box form ul li{
	margin-top:24px;
	line-height:14px;
}
.page .content .content_layout .logo_box form ul li a{
	margin-right:20px;
	display:inline-block;
	color:#6c6c6c;
}
.page .content .content_layout .logo_box form ul li a span{
	width:16px;
	height:16px;
	display:inline-block;
	margin-right:3px;
	vertical-align:middle;
}
.page .content .content_layout .logo_box form ul li a:nth-child(1) span{
	background:url("../images/weibo.png") no-repeat;
	background-size:100% 100%;
}
.page .content .content_layout .logo_box form ul li a:nth-child(2) span{
	background:url("../images/zhifubao.png") no-repeat;
	background-size:100% 100%;
}
.page .content .content_layout .logo_box form .logo_links{
	text-align:right;
	overflow:hidden;
	margin-top:25px;
}
.page .content .content_layout .logo_box form .logo_links a{
	margin-right:10px;
	color:#6c6c6c;
	cursor:pointer;
}
.page .content .content_layout .logo_box form .logo_links a:hover{
	color:#f40;
}
.bottom{
	width:1200px;
	padding:7px 0 9px;
	margin:60px auto 0;
	border-top:1px solid #ddd;
}
.bottom .bottom_hd p{
	line-height:27px;
	margin-bottom:8px;
	border-bottom:1px solid #ddd;
	padding-bottom:8px;
}
.bottom .bottom_hd p a{
	display:inline;
	margin:0 4px;
	color:#6c6c6c;
}
.bottom .bottom_hd p b{
	margin:0 3px;
	display:inline;
	color:#ddd;
}
.bottom .bottom_bd p{
	padding-bottom:8px;
}
.bottom .bottom_bd p a{
	margin:0 4px;
	display:inline;
}
.bottom .bottom_bd p em{
	margin-left:30px;
	display:inline;
	color:#9c9c9c;
	font-style:normal;
	font-weight:400;
}
.bottom .bottom_bd p span{
	color:#9c9c9c;
	margin:0 4px;
}
.bottom .bottom_bd p:nth-child(2) b{
	color:#ddd;
	font-weight:400;
	display:inline;
	margin:0 3px;
}